<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		"
		>
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="provider-group-app"  />

	<!-- 使用zookeeper广播注册中心暴露服务地址 -->
	<dubbo:registry address="zookeeper://localhost:2181" />

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880" />

	<!-- 和本地bean一样实现服务 -->
	<bean id="groupServiceA" class="cn.lastwhisper.dubbo.group.GroupServiceImplA" />
	<bean id="groupServiceB" class="cn.lastwhisper.dubbo.group.GroupServiceImplB" />

	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service
			group="A"
			timeout="10000"
			interface="cn.lastwhisper.dubbo.DemoService"
			ref="groupServiceA" />
	<dubbo:service
			group="B"
			timeout="10000"
			interface="cn.lastwhisper.dubbo.DemoService"
			ref="groupServiceB" />
	<!--registry="N/A" 直连提供者，用于测试环境 -->
	<!--	<dubbo:service registry="N/A"
		interface="cn.lastwhisper.dubbo.DemoService" ref="providerService" />-->


</beans>
