<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--连接工厂-->
    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1" port="5672" username="guest" password="guest"
                               publisher-confirms="true"/>
    <!--测试分列队列-->
    <rabbit:queue name="queue.test1"/>
    <rabbit:queue name="queue.test2"/>
    <!--消费者监听类-->
    <bean id="messageConsumer1" class="cn.lastwhisper.rabbitmq.fanout.MessageConsumer1"/>
    <bean id="messageConsumer2" class="cn.lastwhisper.rabbitmq.fanout.MessageConsumer2"/>

    <!--设置监听容器-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queue-names="queue.test1" ref="messageConsumer1"/>
        <rabbit:listener queue-names="queue.test2" ref="messageConsumer2"/>
    </rabbit:listener-container>
</beans>